/* * {
    cursor: none;

} */

/*bg: 91e2ff */

#myCanvas {
	/* ABFFAB */
    background: #80ee80;
    padding: 0;
    display: block;
    margin: 0 auto;
}

body {
		background-color: #040404;
}
